In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML

In [2]:
#Parametros de ejecucion del programa
nombreArchivoEstructuraDataset = "./Mapas de Transformación de Datos/Datos en Pasos Intermedios/Estructura del Dataset.txt"
nombreArchivoDatasetSinEtiquetar = "./Dataset sin Etiquetar.csv"
nombreArchivoDatasetEtiquetado = "./Dataset Etiquetado.csv"
nombreColumnaDuplicadaSalida = "Interested in buying a mobile home policy".replace(" ", "_")
nombreColumnaSalida = "Number of mobile home policies".replace(" ", "_")
nombreColumnaFase = "Phase"
etiquetaDatosEntrenamiento = "Training"
etiquetaDatosPrueba = "Test"
etiquetaVariablesCategoricas = "Categorical"

colorTextoVerde = (35, 155, 86)
colorTextoRojo = (176, 58, 46)

In [3]:
def printColouredText(text, foregroundColor = (0, 0, 0), backgroundColor = (255, 255, 255)):
    return "\033[48;2;{};{};{}m\033[38;2;{};{};{}m{}\033[38;2;0;0;0m\033[48;2;255;255;255m".format(backgroundColor[0], backgroundColor[1], backgroundColor[2], foregroundColor[0], foregroundColor[1], foregroundColor[2], text)

def highlight_cols(x):
    df = x.copy()
    k = list(df.columns.to_flat_index())
    df.loc[:, :] = "background-color: white!0"
    #df[(df != 0).all(axis = 1), :] = "background-color: red"
    df[[k[-3:]]] = "font-weight: bold"
    df.iloc[-1, :] = "font-weight: bold"
    
    for a in cellsIndexesWithZeroValuesBySelectedColumns.keys():
        for ii in cellsIndexesWithZeroValuesBySelectedColumns[a]:
            df.loc[df.index[ii], a] = "background-color: rgb(245, 183, 177); font-weight: bold"
            
    for a in cellsIndexesWithMaximumValueBySelectedColumns.keys():
        for ii in cellsIndexesWithMaximumValueBySelectedColumns[a]:
            #df.loc[df.index[ii], a] = "background-color: rgb(250, 215, 160); font-weight: bold"
            df.loc[df.index[ii], a] = "background-color: rgb(171, 235, 198); font-weight: bold"
    
    for a in cellsIndexesWithMinimumValueBySelectedColumns.keys():
        for ii in cellsIndexesWithMinimumValueBySelectedColumns[a]:
            #df.loc[df.index[ii], a] = "background-color: rgb(250, 215, 160); font-weight: bold"
            df.loc[df.index[ii], a] = "background-color: rgb(249, 231, 159); font-weight: bold"
    
    return df

def buildCountingPivotTableFor2DetailLevels(dataframeSource, valuesColumn, indexColumn, mainColumnToGroup, secondaryColumnToGroup):
    pivotTableWith2DetailLevels = pd.pivot_table(dataframeSource, values = valuesColumn, index = indexColumn, columns = [secondaryColumnToGroup, mainColumnToGroup], aggfunc = 'count')
    pivotTableWith2DetailLevels.fillna(0.0, inplace = True)
    pivotTableWith1DetailLevel = pd.pivot_table(dataframeSource, values = valuesColumn, index = indexColumn, columns = mainColumnToGroup, aggfunc = 'count')
    pivotTableWith1DetailLevel.fillna(0.0, inplace = True)
    frequencyTableWith2DetailLevels = pivotTableWith1DetailLevel.copy()
    pivotTableWith1DetailLevel["General Total"] = pivotTableWith1DetailLevel[pivotTableWith1DetailLevel.columns].sum(axis = 1)
    mainColumnValuesList = list(pivotTableWith1DetailLevel.columns)
    pivotTableWith1DetailLevel.rename(columns = {tableColumn: ("", tableColumn) for tableColumn in pivotTableWith1DetailLevel.columns}, inplace = True)
    fullPivotTable = pd.concat([pivotTableWith2DetailLevels, pivotTableWith1DetailLevel], axis = 1)
    
    valuesSumTableByColumns = fullPivotTable.sum()
    valuesSumTableByColumns.name = "General Total"
    pivotTableSummarizedByRows = pd.DataFrame(valuesSumTableByColumns.transpose(), columns = fullPivotTable.columns, index = pd.Index([valuesSumTableByColumns.name], name = indexColumn))
    pivotTableSummarizedByRows.loc[valuesSumTableByColumns.name] = valuesSumTableByColumns.tolist()
    fullPivotTable = pd.concat([fullPivotTable, pivotTableSummarizedByRows])
    
    for column in fullPivotTable.columns:
        fullPivotTable[column] = [int(value) for value in fullPivotTable[column].tolist()]
    
    cellsIndexesWithZeroValuesBySelectedColumns = {}
    for column in mainColumnValuesList:
        cellsIndexesWithZeroValuesBySelectedColumns[("", column)] = []
        for rowIndex in range(len(fullPivotTable)):
            if fullPivotTable[("", column)].tolist()[rowIndex] == 0:
                cellsIndexesWithZeroValuesBySelectedColumns[("", column)].append(rowIndex)
    
    cellsIndexesWithMaximumValueBySelectedColumns = {}
    for column in mainColumnValuesList:
        cellsIndexesWithMaximumValueBySelectedColumns[("", column)] = []
        maximumValue = -1
        indexesListWithMaximumValue = []
        for rowIndex in range(len(fullPivotTable) - 1):
            if fullPivotTable[("", column)].tolist()[rowIndex] > maximumValue:
                maximumValue = fullPivotTable[("", column)].tolist()[rowIndex]
                indexesListWithMaximumValue = [rowIndex]
            elif fullPivotTable[("", column)].tolist()[rowIndex] == maximumValue:
                indexesListWithMaximumValue.append(rowIndex)
        cellsIndexesWithMaximumValueBySelectedColumns[("", column)] = indexesListWithMaximumValue
    
    cellsIndexesWithMinimumValueBySelectedColumns = {}
    for column in mainColumnValuesList:
        cellsIndexesWithMinimumValueBySelectedColumns[("", column)] = []
        minimumValue = float('inf')
        indexesListWithMinimumValue = []
        for rowIndex in range(len(fullPivotTable) - 1):
            if fullPivotTable[("", column)].tolist()[rowIndex] < minimumValue and fullPivotTable[("", column)].tolist()[rowIndex] != 0:
                minimumValue = fullPivotTable[("", column)].tolist()[rowIndex]
                indexesListWithMinimumValue = [rowIndex]
            elif fullPivotTable[("", column)].tolist()[rowIndex] == minimumValue:
                indexesListWithMinimumValue.append(rowIndex)
        cellsIndexesWithMinimumValueBySelectedColumns[("", column)] = indexesListWithMinimumValue
    
    for column in frequencyTableWith2DetailLevels.columns:
        frequencyTableWith2DetailLevels[column] = [int(value) for value in frequencyTableWith2DetailLevels[column].tolist()]
    return frequencyTableWith2DetailLevels, fullPivotTable, cellsIndexesWithZeroValuesBySelectedColumns, cellsIndexesWithMaximumValueBySelectedColumns, cellsIndexesWithMinimumValueBySelectedColumns

In [4]:
structureDatasetFile = pd.read_csv(nombreArchivoEstructuraDataset, sep = ";", decimal = ".")
fieldNamesList = structureDatasetFile["Field Name"].tolist()
respectiveVariableKindsList = structureDatasetFile["Variable Kind"].tolist()

In [5]:
notLabeledDatasetFile = pd.read_csv(nombreArchivoDatasetSinEtiquetar, sep = ";", decimal = ".")

print("Se ha extraído la información del archivo", printColouredText(nombreArchivoDatasetSinEtiquetar, colorTextoRojo))
print("Se tiene(n)", printColouredText(str(len(notLabeledDatasetFile.index)) + " dato(s)", colorTextoVerde))

Se ha extraído la información del archivo ./Dataset sin Etiquetar.csv
Se tiene(n) 9822 dato(s)

In [6]:
notLabeledDatasetFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9822 entries, 0 to 9821
Data columns (total 87 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Customer Subtype                                  9822 non-null   int64
 1   Number of houses                                  9822 non-null   int64
 2   Avg size househol                                 9822 non-null   int64
 3   Avg age                                           9822 non-null   int64
 4   Customer main type                                9822 non-null   int64
 5   Roman catholic                                    9822 non-null   int64
 6   Protestant                                        9822 non-null   int64
 7   Other religion                                    9822 non-null   int64
 8   No religion                                       9822 non-null   int64
 9   Married                                           9822 non-null   int64
 10  Living together                                   9822 non-null   int64
 11  Other relation                                    9822 non-null   int64
 12  Singles                                           9822 non-null   int64
 13  Household without children                        9822 non-null   int64
 14  Household with children                           9822 non-null   int64
 15  High level education                              9822 non-null   int64
 16  Medium level education                            9822 non-null   int64
 17  Lower level education                             9822 non-null   int64
 18  High status                                       9822 non-null   int64
 19  Entrepreneur                                      9822 non-null   int64
 20  Farmer                                            9822 non-null   int64
 21  Middle management                                 9822 non-null   int64
 22  Skilled labourers                                 9822 non-null   int64
 23  Unskilled labourers                               9822 non-null   int64
 24  Social class A                                    9822 non-null   int64
 25  Social class B1                                   9822 non-null   int64
 26  Social class B2                                   9822 non-null   int64
 27  Social class C                                    9822 non-null   int64
 28  Social class D                                    9822 non-null   int64
 29  Rented house                                      9822 non-null   int64
 30  Home owners                                       9822 non-null   int64
 31  1 car                                             9822 non-null   int64
 32  2 cars                                            9822 non-null   int64
 33  No car                                            9822 non-null   int64
 34  National Health Service                           9822 non-null   int64
 35  Private health insurance                          9822 non-null   int64
 36  Income <30.000                                    9822 non-null   int64
 37  Income 30-45.000                                  9822 non-null   int64
 38  Income 45-75.000                                  9822 non-null   int64
 39  Income 75-122.000                                 9822 non-null   int64
 40  Income >123.000                                   9822 non-null   int64
 41  Average income                                    9822 non-null   int64
 42  Purchasing power class                            9822 non-null   int64
 43  Contribution private third party insurance        9822 non-null   int64
 44  Contribution third party insurance (firms)        9822 non-null   int64
 45  Contribution third party insurane (agriculture)   9822 non-null   int64
 46  Contribution car policies                         9822 non-null   int64
 47  Contribution delivery van policies                9822 non-null   int64
 48  Contribution motorcycle/scooter policies          9822 non-null   int64
 49  Contribution lorry policies                       9822 non-null   int64
 50  Contribution trailer policies                     9822 non-null   int64
 51  Contribution tractor policies                     9822 non-null   int64
 52  Contribution agricultural machines policies       9822 non-null   int64
 53  Contribution moped policies                       9822 non-null   int64
 54  Contribution life insurances                      9822 non-null   int64
 55  Contribution private accident insurance policies  9822 non-null   int64
 56  Contribution family accidents insurance policies  9822 non-null   int64
 57  Contribution disability insurance policies        9822 non-null   int64
 58  Contribution fire policies                        9822 non-null   int64
 59  Contribution surfboard policies                   9822 non-null   int64
 60  Contribution boat policies                        9822 non-null   int64
 61  Contribution bicycle policies                     9822 non-null   int64
 62  Contribution property insurance policies          9822 non-null   int64
 63  Contribution social security insurance policies   9822 non-null   int64
 64  Number of private third party insurance           9822 non-null   int64
 65  Number of third party insurance (firms)           9822 non-null   int64
 66  Number of third party insurance (agriculture)     9822 non-null   int64
 67  Number of car policies                            9822 non-null   int64
 68  Number of delivery van policies                   9822 non-null   int64
 69  Number of motorcycle/scooter policies             9822 non-null   int64
 70  Number of lorry policies                          9822 non-null   int64
 71  Number of trailer policies                        9822 non-null   int64
 72  Number of tractor policies                        9822 non-null   int64
 73  Number of agricultural machines policies          9822 non-null   int64
 74  Number of moped policies                          9822 non-null   int64
 75  Number of life insurances                         9822 non-null   int64
 76  Number of private accident insurance policies     9822 non-null   int64
 77  Number of family accidents insurance policies     9822 non-null   int64
 78  Number of disability insurance policies           9822 non-null   int64
 79  Number of fire policies                           9822 non-null   int64
 80  Number of surfboard policies                      9822 non-null   int64
 81  Number of boat policies                           9822 non-null   int64
 82  Number of bicycle policies                        9822 non-null   int64
 83  Number of property insurance policies             9822 non-null   int64
 84  Number of social security insurance policies      9822 non-null   int64
 85  Number of mobile home policies                    9822 non-null   int64
 86  Phase                                             9822 non-null   object
dtypes: int64(86), object(1)
memory usage: 6.5+ MB

In [7]:
labeledDatasetFile = pd.read_csv(nombreArchivoDatasetEtiquetado, sep = ";", decimal = ".")
labeledDatasetFile[nombreColumnaDuplicadaSalida] = labeledDatasetFile[nombreColumnaSalida].tolist()
labeledDatasetFile.replace({nombreColumnaDuplicadaSalida: {0: "No", 1: "Yes"}}, inplace = True)

#Filtrado de informacion para separar el dataset de entrenamiento y el dataset de prueba del dataset completo
trainingDatasetFile = labeledDatasetFile[labeledDatasetFile[nombreColumnaFase].str.contains(etiquetaDatosEntrenamiento)]
testDatasetFile = labeledDatasetFile[labeledDatasetFile[nombreColumnaFase].str.contains(etiquetaDatosPrueba)]

print("Se ha extraído la información del archivo", printColouredText(nombreArchivoDatasetEtiquetado, colorTextoRojo))
print("Se tiene(n)", printColouredText(str(len(labeledDatasetFile.index)) + " dato(s)", colorTextoVerde))
print("Se tiene(n) de", printColouredText(str(len(trainingDatasetFile.index)) + " dato(s) de entrenamiento", colorTextoVerde))
print("Se tiene(n) de", printColouredText(str(len(testDatasetFile.index)) + " dato(s) de prueba", colorTextoVerde))

Se ha extraído la información del archivo ./Dataset Etiquetado.csv
Se tiene(n) 9822 dato(s)
Se tiene(n) de 5822 dato(s) de entrenamiento
Se tiene(n) de 4000 dato(s) de prueba

In [8]:
pivotTablesList = {}

prefix = "Label_"
for nombreColumna in notLabeledDatasetFile.columns:
    if nombreColumna != nombreColumnaSalida.replace("_", " ").replace("-", " ") and nombreColumna != nombreColumnaDuplicadaSalida.replace("_", " ").replace("-", " ") and nombreColumna != nombreColumnaFase:
        indexCol = fieldNamesList.index(nombreColumna)
        variableKind = respectiveVariableKindsList[indexCol]
        
        if variableKind == etiquetaVariablesCategoricas:
            print("pivotTablesList[\"" + nombreColumna + "\"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, \"" + prefix + nombreColumna.replace(" ", "_").replace("-", "_") + "\", nombreColumnaDuplicadaSalida, nombreColumnaFase)")
            print("display(pivotTablesList[\"" + nombreColumna + "\"])\n")
        else:
            print("pivotTablesList[\"" + nombreColumna + "\"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, \"" + nombreColumna.replace(" ", "_").replace("-", "_") + "\", nombreColumnaDuplicadaSalida, nombreColumnaFase)")
            print("display(pivotTablesList[\"" + nombreColumna + "\"])\n")
        #pivotTablesList[nombreColumna] = buildCountingPivotTableFor2DetailLevels(notLabeledDatasetFile, nombreColumnaSalida, nombreColumna, nombreColumnaDuplicadaSalida, nombreColumnaFase)
        

#pivotTablesList[] = buildCountingPivotTableFor2DetailLevels(notLabeledDatasetFile, nombreColumnaSalida, col, nombreColumnaDuplicadaSalida, nombreColumnaFase)

#display(pivotTable1)

pivotTablesList["Customer Subtype"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Customer_Subtype", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Customer Subtype"])

pivotTablesList["Number of houses"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_houses", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of houses"])

pivotTablesList["Avg size househol"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Avg_size_househol", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Avg size househol"])

pivotTablesList["Avg age"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Avg_age", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Avg age"])

pivotTablesList["Customer main type"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Customer_main_type", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Customer main type"])

pivotTablesList["Roman catholic"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Roman_catholic", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Roman catholic"])

pivotTablesList["Protestant"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Protestant", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Protestant"])

pivotTablesList["Other religion"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Other_religion", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Other religion"])

pivotTablesList["No religion"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "No_religion", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["No religion"])

pivotTablesList["Married"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Married", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Married"])

pivotTablesList["Living together"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Living_together", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Living together"])

pivotTablesList["Other relation"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Other_relation", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Other relation"])

pivotTablesList["Singles"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Singles", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Singles"])

pivotTablesList["Household without children"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Household_without_children", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Household without children"])

pivotTablesList["Household with children"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Household_with_children", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Household with children"])

pivotTablesList["High level education"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "High_level_education", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["High level education"])

pivotTablesList["Medium level education"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Medium_level_education", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Medium level education"])

pivotTablesList["Lower level education"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Lower_level_education", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Lower level education"])

pivotTablesList["High status"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "High_status", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["High status"])

pivotTablesList["Entrepreneur"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Entrepreneur", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Entrepreneur"])

pivotTablesList["Farmer"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Farmer", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Farmer"])

pivotTablesList["Middle management"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Middle_management", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Middle management"])

pivotTablesList["Skilled labourers"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Skilled_labourers", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Skilled labourers"])

pivotTablesList["Unskilled labourers"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Unskilled_labourers", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Unskilled labourers"])

pivotTablesList["Social class A"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Social_class_A", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class A"])

pivotTablesList["Social class B1"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Social_class_B1", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class B1"])

pivotTablesList["Social class B2"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Social_class_B2", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class B2"])

pivotTablesList["Social class C"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Social_class_C", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class C"])

pivotTablesList["Social class D"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Social_class_D", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class D"])

pivotTablesList["Rented house"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Rented_house", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Rented house"])

pivotTablesList["Home owners"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Home_owners", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Home owners"])

pivotTablesList["1 car"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "1_car", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["1 car"])

pivotTablesList["2 cars"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "2_cars", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["2 cars"])

pivotTablesList["No car"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "No_car", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["No car"])

pivotTablesList["National Health Service"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "National_Health_Service", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["National Health Service"])

pivotTablesList["Private health insurance"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Private_health_insurance", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Private health insurance"])

pivotTablesList["Income <30.000"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Income_<30.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income <30.000"])

pivotTablesList["Income 30-45.000"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Income_30_45.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income 30-45.000"])

pivotTablesList["Income 45-75.000"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Income_45_75.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income 45-75.000"])

pivotTablesList["Income 75-122.000"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Income_75_122.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income 75-122.000"])

pivotTablesList["Income >123.000"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Income_>123.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income >123.000"])

pivotTablesList["Average income"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Average_income", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Average income"])

pivotTablesList["Purchasing power class"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Purchasing_power_class", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Purchasing power class"])

pivotTablesList["Contribution private third party insurance"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_private_third_party_insurance", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution private third party insurance"])

pivotTablesList["Contribution third party insurance (firms)"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_third_party_insurance_(firms)", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution third party insurance (firms)"])

pivotTablesList["Contribution third party insurane (agriculture)"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_third_party_insurane_(agriculture)", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution third party insurane (agriculture)"])

pivotTablesList["Contribution car policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_car_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution car policies"])

pivotTablesList["Contribution delivery van policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_delivery_van_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution delivery van policies"])

pivotTablesList["Contribution motorcycle/scooter policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_motorcycle/scooter_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution motorcycle/scooter policies"])

pivotTablesList["Contribution lorry policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_lorry_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution lorry policies"])

pivotTablesList["Contribution trailer policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_trailer_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution trailer policies"])

pivotTablesList["Contribution tractor policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_tractor_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution tractor policies"])

pivotTablesList["Contribution agricultural machines policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Contribution_agricultural_machines_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution agricultural machines policies"])

pivotTablesList["Contribution moped policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_moped_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution moped policies"])

pivotTablesList["Contribution life insurances"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_life_insurances", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution life insurances"])

pivotTablesList["Contribution private accident insurance policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_private_accident_insurance_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution private accident insurance policies"])

pivotTablesList["Contribution family accidents insurance policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_family_accidents_insurance_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution family accidents insurance policies"])

pivotTablesList["Contribution disability insurance policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_disability_insurance_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution disability insurance policies"])

pivotTablesList["Contribution fire policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_fire_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution fire policies"])

pivotTablesList["Contribution surfboard policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_surfboard_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution surfboard policies"])

pivotTablesList["Contribution boat policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_boat_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution boat policies"])

pivotTablesList["Contribution bicycle policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_bicycle_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution bicycle policies"])

pivotTablesList["Contribution property insurance policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_property_insurance_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution property insurance policies"])

pivotTablesList["Contribution social security insurance policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Contribution_social_security_insurance_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution social security insurance policies"])

pivotTablesList["Number of private third party insurance"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_private_third_party_insurance", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of private third party insurance"])

pivotTablesList["Number of third party insurance (firms)"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_third_party_insurance_(firms)", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of third party insurance (firms)"])

pivotTablesList["Number of third party insurance (agriculture)"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_third_party_insurance_(agriculture)", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of third party insurance (agriculture)"])

pivotTablesList["Number of car policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_car_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of car policies"])

pivotTablesList["Number of delivery van policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_delivery_van_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of delivery van policies"])

pivotTablesList["Number of motorcycle/scooter policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_motorcycle/scooter_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of motorcycle/scooter policies"])

pivotTablesList["Number of lorry policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_lorry_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of lorry policies"])

pivotTablesList["Number of trailer policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_trailer_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of trailer policies"])

pivotTablesList["Number of tractor policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_tractor_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of tractor policies"])

pivotTablesList["Number of agricultural machines policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_agricultural_machines_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of agricultural machines policies"])

pivotTablesList["Number of moped policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_moped_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of moped policies"])

pivotTablesList["Number of life insurances"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_life_insurances", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of life insurances"])

pivotTablesList["Number of private accident insurance policies"] = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Number_of_private_accident_insurance_policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of private accident insurance policies"])


In [9]:
frequencyTableWithBothDetailLevels, pivotTablesList["Customer Subtype"], cellsIndexesWithZeroValuesBySelectedColumns, cellsIndexesWithMaximumValueBySelectedColumns, cellsIndexesWithMinimumValueBySelectedColumns = buildCountingPivotTableFor2DetailLevels(labeledDatasetFile, nombreColumnaSalida, "Label_Customer_Subtype", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Customer Subtype"].style.apply(highlight_cols, axis = None))