In [1]:
import pandas as pd
from IPython.display import display

In [2]:
#Parametros de ejecucion del programa
nombreArchivoDataset = "./Datos en Pasos Intermedios/Dataset Reconstruido.csv"
nombreColumnaDuplicadaSalida = "Interested in buying a mobile home policy"
nombreColumnaSalida = "Number of mobile home policies"
nombreColumnaFase = "Phase"
etiquetaDatosEntrenamiento = "Training"
etiquetaDatosPrueba = "Test"

colorTextoVerde = (35, 155, 86)
colorTextoRojo = (176, 58, 46)

In [3]:
def printColouredText(text, foregroundColor = (0, 0, 0), backgroundColor = (255, 255, 255)):
    return "\033[48;2;{};{};{}m\033[38;2;{};{};{}m{}\033[38;2;0;0;0m\033[48;2;255;255;255m".format(backgroundColor[0], backgroundColor[1], backgroundColor[2], foregroundColor[0], foregroundColor[1], foregroundColor[2], text)

In [4]:
fullDatasetFile = pd.read_csv(nombreArchivoDataset, sep = ";", decimal = ".")
fullDatasetFile[nombreColumnaDuplicadaSalida] = fullDatasetFile[nombreColumnaSalida].tolist()
fullDatasetFile.replace({nombreColumnaDuplicadaSalida: {0: "No", 1: "Yes"}}, inplace = True)

#Filtrado de informacion para separar el dataset de entrenamiento y el dataset de prueba del dataset completo
trainingDatasetFile = fullDatasetFile[fullDatasetFile[nombreColumnaFase].str.contains(etiquetaDatosEntrenamiento)]
testDatasetFile = fullDatasetFile[fullDatasetFile[nombreColumnaFase].str.contains(etiquetaDatosPrueba)]

print("Se ha extraído la información del archivo", printColouredText(nombreArchivoDataset, colorTextoRojo))
print("Se tiene(n)", printColouredText(str(len(fullDatasetFile.index)) + " dato(s)", colorTextoVerde))
print("Se tiene(n) de", printColouredText(str(len(trainingDatasetFile.index)) + " dato(s) de entrenamiento", colorTextoVerde))
print("Se tiene(n) de", printColouredText(str(len(testDatasetFile.index)) + " dato(s) de prueba", colorTextoVerde))

Se ha extraído la información del archivo ./Datos en Pasos Intermedios/Dataset Reconstruido.csv
Se tiene(n) 9822 dato(s)
Se tiene(n) de 5822 dato(s) de entrenamiento
Se tiene(n) de 4000 dato(s) de prueba

In [5]:
fullDatasetFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9822 entries, 0 to 9821
Data columns (total 88 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Customer Subtype                                  9822 non-null   int64
 1   Number of houses                                  9822 non-null   int64
 2   Avg size household                                9822 non-null   int64
 3   Avg age                                           9822 non-null   int64
 4   Customer main type                                9822 non-null   int64
 5   Roman catholic                                    9822 non-null   int64
 6   Protestant                                        9822 non-null   int64
 7   Other religion                                    9822 non-null   int64
 8   No religion                                       9822 non-null   int64
 9   Married                                           9822 non-null   int64
 10  Living together                                   9822 non-null   int64
 11  Other relation                                    9822 non-null   int64
 12  Singles                                           9822 non-null   int64
 13  Household without children                        9822 non-null   int64
 14  Household with children                           9822 non-null   int64
 15  High level education                              9822 non-null   int64
 16  Medium level education                            9822 non-null   int64
 17  Lower level education                             9822 non-null   int64
 18  High status                                       9822 non-null   int64
 19  Entrepreneur                                      9822 non-null   int64
 20  Farmer                                            9822 non-null   int64
 21  Middle management                                 9822 non-null   int64
 22  Skilled labourers                                 9822 non-null   int64
 23  Unskilled labourers                               9822 non-null   int64
 24  Social class A                                    9822 non-null   int64
 25  Social class B1                                   9822 non-null   int64
 26  Social class B2                                   9822 non-null   int64
 27  Social class C                                    9822 non-null   int64
 28  Social class D                                    9822 non-null   int64
 29  Rented house                                      9822 non-null   int64
 30  Home owners                                       9822 non-null   int64
 31  1 car                                             9822 non-null   int64
 32  2 cars                                            9822 non-null   int64
 33  No car                                            9822 non-null   int64
 34  National Health Service                           9822 non-null   int64
 35  Private health insurance                          9822 non-null   int64
 36  Income <30.000                                    9822 non-null   int64
 37  Income 30-45.000                                  9822 non-null   int64
 38  Income 45-75.000                                  9822 non-null   int64
 39  Income 75-122.000                                 9822 non-null   int64
 40  Income >123.000                                   9822 non-null   int64
 41  Average income                                    9822 non-null   int64
 42  Purchasing power class                            9822 non-null   int64
 43  Contribution private third party insurance        9822 non-null   int64
 44  Contribution third party insurance (firms)        9822 non-null   int64
 45  Contribution third party insurane (agriculture)   9822 non-null   int64
 46  Contribution car policies                         9822 non-null   int64
 47  Contribution delivery van policies                9822 non-null   int64
 48  Contribution motorcycle/scooter policies          9822 non-null   int64
 49  Contribution lorry policies                       9822 non-null   int64
 50  Contribution trailer policies                     9822 non-null   int64
 51  Contribution tractor policies                     9822 non-null   int64
 52  Contribution agricultural machines policies       9822 non-null   int64
 53  Contribution moped policies                       9822 non-null   int64
 54  Contribution life insurances                      9822 non-null   int64
 55  Contribution private accident insurance policies  9822 non-null   int64
 56  Contribution family accidents insurance policies  9822 non-null   int64
 57  Contribution disability insurance policies        9822 non-null   int64
 58  Contribution fire policies                        9822 non-null   int64
 59  Contribution surfboard policies                   9822 non-null   int64
 60  Contribution boat policies                        9822 non-null   int64
 61  Contribution bicycle policies                     9822 non-null   int64
 62  Contribution property insurance policies          9822 non-null   int64
 63  Contribution social security insurance policies   9822 non-null   int64
 64  Number of private third party insurance           9822 non-null   int64
 65  Number of third party insurance (firms)           9822 non-null   int64
 66  Number of third party insurance (agriculture)     9822 non-null   int64
 67  Number of car policies                            9822 non-null   int64
 68  Number of delivery van policies                   9822 non-null   int64
 69  Number of motorcycle/scooter policies             9822 non-null   int64
 70  Number of lorry policies                          9822 non-null   int64
 71  Number of trailer policies                        9822 non-null   int64
 72  Number of tractor policies                        9822 non-null   int64
 73  Number of agricultural machines policies          9822 non-null   int64
 74  Number of moped policies                          9822 non-null   int64
 75  Number of life insurances                         9822 non-null   int64
 76  Number of private accident insurance policies     9822 non-null   int64
 77  Number of family accidents insurance policies     9822 non-null   int64
 78  Number of disability insurance policies           9822 non-null   int64
 79  Number of fire policies                           9822 non-null   int64
 80  Number of surfboard policies                      9822 non-null   int64
 81  Number of boat policies                           9822 non-null   int64
 82  Number of bicycle policies                        9822 non-null   int64
 83  Number of property insurance policies             9822 non-null   int64
 84  Number of social security insurance policies      9822 non-null   int64
 85  Number of mobile home policies                    9822 non-null   int64
 86  Phase                                             9822 non-null   object
 87  Interested in buying a mobile home policy         9822 non-null   object
dtypes: int64(86), object(2)
memory usage: 6.6+ MB

In [6]:
for col in fullDatasetFile.columns:
    if col != nombreColumnaSalida and col != nombreColumnaFase:
        print(col)
        break

x1 = pd.pivot_table(fullDatasetFile, values = nombreColumnaSalida, index = col, columns = [nombreColumnaFase, nombreColumnaDuplicadaSalida], aggfunc = 'count')
x2 = pd.pivot_table(fullDatasetFile, values = nombreColumnaSalida, index = col, columns = nombreColumnaDuplicadaSalida, aggfunc = 'count')



x2.rename(columns = {"No": ("Total", "No"), "Yes": ("Total", "Yes")}, inplace = True)
x = pd.concat([x1, x2], axis = 1)

"""
x.fillna(0.0, inplace = True)
x["No"] = [int(value) for value in x["No"].tolist()]
x["Yes"] = [int(value) for value in x["Yes"].tolist()]
y = pd.pivot_table(trainingDatasetFile, values = nombreColumnaSalida, index = col, columns = nombreColumnaDuplicadaSalida, aggfunc = 'count')
y.fillna(0.0, inplace = True)
y["No"] = [int(value) for value in y["No"].tolist()]
y["Yes"] = [int(value) for value in y["Yes"].tolist()]
z = pd.pivot_table(testDatasetFile, values = nombreColumnaSalida, index = col, columns = nombreColumnaDuplicadaSalida, aggfunc = 'count')
z.fillna(0.0, inplace = True)
z["No"] = [int(value) for value in z["No"].tolist()]
z["Yes"] = [int(value) for value in z["Yes"].tolist()]
x.info()

print(x["Yes"].tolist())
"""

#x1.info()
display(x)

Customer Subtype

Phase                                     Phase 1 [Training]        \
Interested in buying a mobile home policy                 No   Yes
Customer Subtype
1                                                      111.0  13.0
2                                                       76.0   6.0
3                                                      224.0  25.0
4                                                       50.0   2.0
5                                                       43.0   2.0
6                                                      107.0  12.0
7                                                       41.0   3.0
8                                                      288.0  51.0
9                                                      266.0  12.0
10                                                     156.0   9.0
11                                                     144.0   9.0
12                                                      95.0  16.0
13                                                     166.0  13.0
15                                                       5.0   NaN
16                                                      16.0   NaN
17                                                       9.0   NaN
18                                                      19.0   NaN
19                                                       3.0   NaN
20                                                      23.0   2.0
21                                                      15.0   NaN
22                                                      94.0   4.0
23                                                     247.0   4.0
24                                                     175.0   5.0
25                                                      80.0   2.0
26                                                      47.0   1.0
27                                                      49.0   1.0
28                                                      25.0   NaN
29                                                      84.0   2.0
30                                                     114.0   4.0
31                                                     199.0   6.0
32                                                     133.0   8.0
33                                                     764.0  46.0
34                                                     173.0   9.0
35                                                     206.0   8.0
36                                                     209.0  16.0
37                                                     122.0  10.0
38                                                     316.0  23.0
39                                                     309.0  19.0
40                                                      71.0   NaN
41                                                     200.0   5.0

Phase                                     Phase 2 [Test]         Total
Interested in buying a mobile home policy             No   Yes      No   Yes
Customer Subtype
1                                                   81.0  13.0   192.0  26.0
2                                                   61.0   5.0   137.0  11.0
3                                                  176.0   8.0   400.0  33.0
4                                                   37.0   1.0    87.0   3.0
5                                                   25.0   NaN    68.0   2.0
6                                                   76.0  14.0   183.0  26.0
7                                                   26.0   2.0    67.0   5.0
8                                                  186.0  21.0   474.0  72.0
9                                                  177.0   5.0   443.0  17.0
10                                                  92.0  14.0   248.0  23.0
11                                                 126.0   7.0   270.0  16.0
12                                                  71.0  12.0   166.0  28.0
13                                                 111.0  12.0   277.0  25.0
15                                                   2.0   NaN     7.0   NaN
16                                                   9.0   NaN    25.0   NaN
17                                                   4.0   NaN    13.0   NaN
18                                                   8.0   NaN    27.0   NaN
19                                                   4.0   NaN     7.0   NaN
20                                                  17.0   NaN    40.0   2.0
21                                                  14.0   NaN    29.0   NaN
22                                                  69.0   2.0   163.0   6.0
23                                                 125.0   NaN   372.0   4.0
24                                                 143.0   1.0   318.0   6.0
25                                                  43.0   4.0   123.0   6.0
26                                                  30.0   1.0    77.0   2.0
27                                                  27.0   NaN    76.0   1.0
28                                                  16.0   NaN    41.0   NaN
29                                                  48.0   5.0   132.0   7.0
30                                                  71.0   1.0   185.0   5.0
31                                                 108.0   5.0   307.0  11.0
32                                                  89.0   4.0   222.0  12.0
33                                                 557.0  34.0  1321.0  80.0
34                                                 140.0   3.0   313.0  12.0
35                                                 143.0   5.0   349.0  13.0
36                                                 137.0  11.0   346.0  27.0
37                                                  92.0   9.0   214.0  19.0
38                                                 215.0  15.0   531.0  38.0
39                                                 196.0  18.0   505.0  37.0
40                                                  66.0   NaN   137.0   NaN
41                                                 144.0   6.0   344.0  11.0