In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
#Parametros de ejecucion del programa
nombreArchivoDataset = "./Datos en Pasos Intermedios/Dataset Reconstruido.csv"
nombreColumnaDuplicadaSalida = "Interested in buying a mobile home policy"
nombreColumnaSalida = "Number of mobile home policies"
nombreColumnaFase = "Phase"
etiquetaDatosEntrenamiento = "Training"
etiquetaDatosPrueba = "Test"

colorTextoVerde = (35, 155, 86)
colorTextoRojo = (176, 58, 46)

In [3]:
def printColouredText(text, foregroundColor = (0, 0, 0), backgroundColor = (255, 255, 255)):
    return "\033[48;2;{};{};{}m\033[38;2;{};{};{}m{}\033[38;2;0;0;0m\033[48;2;255;255;255m".format(backgroundColor[0], backgroundColor[1], backgroundColor[2], foregroundColor[0], foregroundColor[1], foregroundColor[2], text)

In [4]:
fullDatasetFile = pd.read_csv(nombreArchivoDataset, sep = ";", decimal = ".")
fullDatasetFile[nombreColumnaDuplicadaSalida] = fullDatasetFile[nombreColumnaSalida].tolist()
fullDatasetFile.replace({nombreColumnaDuplicadaSalida: {0: "No", 1: "Yes"}}, inplace = True)

#Filtrado de informacion para separar el dataset de entrenamiento y el dataset de prueba del dataset completo
trainingDatasetFile = fullDatasetFile[fullDatasetFile[nombreColumnaFase].str.contains(etiquetaDatosEntrenamiento)]
testDatasetFile = fullDatasetFile[fullDatasetFile[nombreColumnaFase].str.contains(etiquetaDatosPrueba)]

print("Se ha extraído la información del archivo", printColouredText(nombreArchivoDataset, colorTextoRojo))
print("Se tiene(n)", printColouredText(str(len(fullDatasetFile.index)) + " dato(s)", colorTextoVerde))
print("Se tiene(n) de", printColouredText(str(len(trainingDatasetFile.index)) + " dato(s) de entrenamiento", colorTextoVerde))
print("Se tiene(n) de", printColouredText(str(len(testDatasetFile.index)) + " dato(s) de prueba", colorTextoVerde))

Se ha extraído la información del archivo ./Datos en Pasos Intermedios/Dataset Reconstruido.csv
Se tiene(n) 9822 dato(s)
Se tiene(n) de 5822 dato(s) de entrenamiento
Se tiene(n) de 4000 dato(s) de prueba

In [5]:
fullDatasetFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9822 entries, 0 to 9821
Data columns (total 88 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Customer Subtype                                  9822 non-null   int64
 1   Number of houses                                  9822 non-null   int64
 2   Avg size household                                9822 non-null   int64
 3   Avg age                                           9822 non-null   int64
 4   Customer main type                                9822 non-null   int64
 5   Roman catholic                                    9822 non-null   int64
 6   Protestant                                        9822 non-null   int64
 7   Other religion                                    9822 non-null   int64
 8   No religion                                       9822 non-null   int64
 9   Married                                           9822 non-null   int64
 10  Living together                                   9822 non-null   int64
 11  Other relation                                    9822 non-null   int64
 12  Singles                                           9822 non-null   int64
 13  Household without children                        9822 non-null   int64
 14  Household with children                           9822 non-null   int64
 15  High level education                              9822 non-null   int64
 16  Medium level education                            9822 non-null   int64
 17  Lower level education                             9822 non-null   int64
 18  High status                                       9822 non-null   int64
 19  Entrepreneur                                      9822 non-null   int64
 20  Farmer                                            9822 non-null   int64
 21  Middle management                                 9822 non-null   int64
 22  Skilled labourers                                 9822 non-null   int64
 23  Unskilled labourers                               9822 non-null   int64
 24  Social class A                                    9822 non-null   int64
 25  Social class B1                                   9822 non-null   int64
 26  Social class B2                                   9822 non-null   int64
 27  Social class C                                    9822 non-null   int64
 28  Social class D                                    9822 non-null   int64
 29  Rented house                                      9822 non-null   int64
 30  Home owners                                       9822 non-null   int64
 31  1 car                                             9822 non-null   int64
 32  2 cars                                            9822 non-null   int64
 33  No car                                            9822 non-null   int64
 34  National Health Service                           9822 non-null   int64
 35  Private health insurance                          9822 non-null   int64
 36  Income <30.000                                    9822 non-null   int64
 37  Income 30-45.000                                  9822 non-null   int64
 38  Income 45-75.000                                  9822 non-null   int64
 39  Income 75-122.000                                 9822 non-null   int64
 40  Income >123.000                                   9822 non-null   int64
 41  Average income                                    9822 non-null   int64
 42  Purchasing power class                            9822 non-null   int64
 43  Contribution private third party insurance        9822 non-null   int64
 44  Contribution third party insurance (firms)        9822 non-null   int64
 45  Contribution third party insurane (agriculture)   9822 non-null   int64
 46  Contribution car policies                         9822 non-null   int64
 47  Contribution delivery van policies                9822 non-null   int64
 48  Contribution motorcycle/scooter policies          9822 non-null   int64
 49  Contribution lorry policies                       9822 non-null   int64
 50  Contribution trailer policies                     9822 non-null   int64
 51  Contribution tractor policies                     9822 non-null   int64
 52  Contribution agricultural machines policies       9822 non-null   int64
 53  Contribution moped policies                       9822 non-null   int64
 54  Contribution life insurances                      9822 non-null   int64
 55  Contribution private accident insurance policies  9822 non-null   int64
 56  Contribution family accidents insurance policies  9822 non-null   int64
 57  Contribution disability insurance policies        9822 non-null   int64
 58  Contribution fire policies                        9822 non-null   int64
 59  Contribution surfboard policies                   9822 non-null   int64
 60  Contribution boat policies                        9822 non-null   int64
 61  Contribution bicycle policies                     9822 non-null   int64
 62  Contribution property insurance policies          9822 non-null   int64
 63  Contribution social security insurance policies   9822 non-null   int64
 64  Number of private third party insurance           9822 non-null   int64
 65  Number of third party insurance (firms)           9822 non-null   int64
 66  Number of third party insurance (agriculture)     9822 non-null   int64
 67  Number of car policies                            9822 non-null   int64
 68  Number of delivery van policies                   9822 non-null   int64
 69  Number of motorcycle/scooter policies             9822 non-null   int64
 70  Number of lorry policies                          9822 non-null   int64
 71  Number of trailer policies                        9822 non-null   int64
 72  Number of tractor policies                        9822 non-null   int64
 73  Number of agricultural machines policies          9822 non-null   int64
 74  Number of moped policies                          9822 non-null   int64
 75  Number of life insurances                         9822 non-null   int64
 76  Number of private accident insurance policies     9822 non-null   int64
 77  Number of family accidents insurance policies     9822 non-null   int64
 78  Number of disability insurance policies           9822 non-null   int64
 79  Number of fire policies                           9822 non-null   int64
 80  Number of surfboard policies                      9822 non-null   int64
 81  Number of boat policies                           9822 non-null   int64
 82  Number of bicycle policies                        9822 non-null   int64
 83  Number of property insurance policies             9822 non-null   int64
 84  Number of social security insurance policies      9822 non-null   int64
 85  Number of mobile home policies                    9822 non-null   int64
 86  Phase                                             9822 non-null   object
 87  Interested in buying a mobile home policy         9822 non-null   object
dtypes: int64(86), object(2)
memory usage: 6.6+ MB

In [6]:
for col in fullDatasetFile.columns:
    if col != nombreColumnaSalida and col != nombreColumnaFase:
        print(col)
        break

pivotTableWith2DetailLevels = pd.pivot_table(fullDatasetFile, values = nombreColumnaSalida, index = col, columns = [nombreColumnaFase, nombreColumnaDuplicadaSalida], aggfunc = 'count')
pivotTableWith2DetailLevels.fillna(0.0, inplace = True)
pivotTableWith1DetailLevel = pd.pivot_table(fullDatasetFile, values = nombreColumnaSalida, index = col, columns = nombreColumnaDuplicadaSalida, aggfunc = 'count')
pivotTableWith1DetailLevel.fillna(0.0, inplace = True)
pivotTableWith1DetailLevel["General Total"] = pivotTableWith1DetailLevel[pivotTableWith1DetailLevel.columns].sum(axis = 1)
pivotTableWith1DetailLevel.rename(columns = {tableColumn: ("", tableColumn) for tableColumn in pivotTableWith1DetailLevel.columns}, inplace = True)
fullPivotTable = pd.concat([pivotTableWith2DetailLevels, pivotTableWith1DetailLevel], axis = 1)

suma = fullPivotTable.sum()
suma.name = "General Total"
pivotTableSummarizedByRows = pd.DataFrame(suma.transpose(), columns = fullPivotTable.columns, index = [suma.name])
pivotTableSummarizedByRows.loc[suma.name] = suma.tolist()
fullPivotTable = pd.concat([fullPivotTable, pivotTableSummarizedByRows])

for column in fullPivotTable.columns:
    fullPivotTable[column] = [int(value) for value in fullPivotTable[column].tolist()]

#x1.info()
display(fullPivotTable)

Customer Subtype

Phase                                     Phase 1 [Training]       \
Interested in buying a mobile home policy                 No  Yes
1                                                        111   13
2                                                         76    6
3                                                        224   25
4                                                         50    2
5                                                         43    2
6                                                        107   12
7                                                         41    3
8                                                        288   51
9                                                        266   12
10                                                       156    9
11                                                       144    9
12                                                        95   16
13                                                       166   13
15                                                         5    0
16                                                        16    0
17                                                         9    0
18                                                        19    0
19                                                         3    0
20                                                        23    2
21                                                        15    0
22                                                        94    4
23                                                       247    4
24                                                       175    5
25                                                        80    2
26                                                        47    1
27                                                        49    1
28                                                        25    0
29                                                        84    2
30                                                       114    4
31                                                       199    6
32                                                       133    8
33                                                       764   46
34                                                       173    9
35                                                       206    8
36                                                       209   16
37                                                       122   10
38                                                       316   23
39                                                       309   19
40                                                        71    0
41                                                       200    5
General Total                                           5474  348

Phase                                     Phase 2 [Test]                  \
Interested in buying a mobile home policy             No  Yes    No  Yes
1                                                     81   13   192   26
2                                                     61    5   137   11
3                                                    176    8   400   33
4                                                     37    1    87    3
5                                                     25    0    68    2
6                                                     76   14   183   26
7                                                     26    2    67    5
8                                                    186   21   474   72
9                                                    177    5   443   17
10                                                    92   14   248   23
11                                                   126    7   270   16
12                                                    71   12   166   28
13                                                   111   12   277   25
15                                                     2    0     7    0
16                                                     9    0    25    0
17                                                     4    0    13    0
18                                                     8    0    27    0
19                                                     4    0     7    0
20                                                    17    0    40    2
21                                                    14    0    29    0
22                                                    69    2   163    6
23                                                   125    0   372    4
24                                                   143    1   318    6
25                                                    43    4   123    6
26                                                    30    1    77    2
27                                                    27    0    76    1
28                                                    16    0    41    0
29                                                    48    5   132    7
30                                                    71    1   185    5
31                                                   108    5   307   11
32                                                    89    4   222   12
33                                                   557   34  1321   80
34                                                   140    3   313   12
35                                                   143    5   349   13
36                                                   137   11   346   27
37                                                    92    9   214   19
38                                                   215   15   531   38
39                                                   196   18   505   37
40                                                    66    0   137    0
41                                                   144    6   344   11
General Total                                       3762  238  9236  586

Phase
Interested in buying a mobile home policy General Total
1                                                   218
2                                                   148
3                                                   433
4                                                    90
5                                                    70
6                                                   209
7                                                    72
8                                                   546
9                                                   460
10                                                  271
11                                                  286
12                                                  194
13                                                  302
15                                                    7
16                                                   25
17                                                   13
18                                                   27
19                                                    7
20                                                   42
21                                                   29
22                                                  169
23                                                  376
24                                                  324
25                                                  129
26                                                   79
27                                                   77
28                                                   41
29                                                  139
30                                                  190
31                                                  318
32                                                  234
33                                                 1401
34                                                  325
35                                                  362
36                                                  373
37                                                  233
38                                                  569
39                                                  542
40                                                  137
41                                                  355
General Total                                      9822