In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [2]:
#Parametros de ejecucion del programa
nombreArchivoDataset = "./Datos en Pasos Intermedios/Dataset Reconstruido.csv"
nombreColumnaDuplicadaSalida = "Interested in buying a mobile home policy"
nombreColumnaSalida = "Number of mobile home policies"
nombreColumnaFase = "Phase"
etiquetaDatosEntrenamiento = "Training"
etiquetaDatosPrueba = "Test"

colorTextoVerde = (35, 155, 86)
colorTextoRojo = (176, 58, 46)

In [3]:
def printColouredText(text, foregroundColor = (0, 0, 0), backgroundColor = (255, 255, 255)):
    return "\033[48;2;{};{};{}m\033[38;2;{};{};{}m{}\033[38;2;0;0;0m\033[48;2;255;255;255m".format(backgroundColor[0], backgroundColor[1], backgroundColor[2], foregroundColor[0], foregroundColor[1], foregroundColor[2], text)

def buildCountingPivotTable(dataframeSource, valuesColumn, indexColumn, mainColumnToGroup, secondaryColumnToGroup):
    pivotTableWith2DetailLevels = pd.pivot_table(dataframeSource, values = valuesColumn, index = indexColumn, columns = [secondaryColumnToGroup, mainColumnToGroup], aggfunc = 'count')
    pivotTableWith2DetailLevels.fillna(0.0, inplace = True)
    pivotTableWith1DetailLevel = pd.pivot_table(dataframeSource, values = valuesColumn, index = indexColumn, columns = mainColumnToGroup, aggfunc = 'count')
    pivotTableWith1DetailLevel.fillna(0.0, inplace = True)
    pivotTableWith1DetailLevel["General Total"] = pivotTableWith1DetailLevel[pivotTableWith1DetailLevel.columns].sum(axis = 1)
    pivotTableWith1DetailLevel.rename(columns = {tableColumn: ("", tableColumn) for tableColumn in pivotTableWith1DetailLevel.columns}, inplace = True)
    fullPivotTable = pd.concat([pivotTableWith2DetailLevels, pivotTableWith1DetailLevel], axis = 1)
    
    suma = fullPivotTable.sum()
    suma.name = "General Total"
    pivotTableSummarizedByRows = pd.DataFrame(suma.transpose(), columns = fullPivotTable.columns, index = [suma.name])
    pivotTableSummarizedByRows.loc[suma.name] = suma.tolist()
    fullPivotTable = pd.concat([fullPivotTable, pivotTableSummarizedByRows])
    
    for column in fullPivotTable.columns:
        fullPivotTable[column] = [int(value) for value in fullPivotTable[column].tolist()]
    return fullPivotTable

In [4]:
fullDatasetFile = pd.read_csv(nombreArchivoDataset, sep = ";", decimal = ".")
fullDatasetFile[nombreColumnaDuplicadaSalida] = fullDatasetFile[nombreColumnaSalida].tolist()
fullDatasetFile.replace({nombreColumnaDuplicadaSalida: {0: "No", 1: "Yes"}}, inplace = True)

#Filtrado de informacion para separar el dataset de entrenamiento y el dataset de prueba del dataset completo
trainingDatasetFile = fullDatasetFile[fullDatasetFile[nombreColumnaFase].str.contains(etiquetaDatosEntrenamiento)]
testDatasetFile = fullDatasetFile[fullDatasetFile[nombreColumnaFase].str.contains(etiquetaDatosPrueba)]

print("Se ha extraído la información del archivo", printColouredText(nombreArchivoDataset, colorTextoRojo))
print("Se tiene(n)", printColouredText(str(len(fullDatasetFile.index)) + " dato(s)", colorTextoVerde))
print("Se tiene(n) de", printColouredText(str(len(trainingDatasetFile.index)) + " dato(s) de entrenamiento", colorTextoVerde))
print("Se tiene(n) de", printColouredText(str(len(testDatasetFile.index)) + " dato(s) de prueba", colorTextoVerde))

Se ha extraído la información del archivo ./Datos en Pasos Intermedios/Dataset Reconstruido.csv
Se tiene(n) 9822 dato(s)
Se tiene(n) de 5822 dato(s) de entrenamiento
Se tiene(n) de 4000 dato(s) de prueba

In [5]:
fullDatasetFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9822 entries, 0 to 9821
Data columns (total 88 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Customer Subtype                                  9822 non-null   int64
 1   Number of houses                                  9822 non-null   int64
 2   Avg size household                                9822 non-null   int64
 3   Avg age                                           9822 non-null   int64
 4   Customer main type                                9822 non-null   int64
 5   Roman catholic                                    9822 non-null   int64
 6   Protestant                                        9822 non-null   int64
 7   Other religion                                    9822 non-null   int64
 8   No religion                                       9822 non-null   int64
 9   Married                                           9822 non-null   int64
 10  Living together                                   9822 non-null   int64
 11  Other relation                                    9822 non-null   int64
 12  Singles                                           9822 non-null   int64
 13  Household without children                        9822 non-null   int64
 14  Household with children                           9822 non-null   int64
 15  High level education                              9822 non-null   int64
 16  Medium level education                            9822 non-null   int64
 17  Lower level education                             9822 non-null   int64
 18  High status                                       9822 non-null   int64
 19  Entrepreneur                                      9822 non-null   int64
 20  Farmer                                            9822 non-null   int64
 21  Middle management                                 9822 non-null   int64
 22  Skilled labourers                                 9822 non-null   int64
 23  Unskilled labourers                               9822 non-null   int64
 24  Social class A                                    9822 non-null   int64
 25  Social class B1                                   9822 non-null   int64
 26  Social class B2                                   9822 non-null   int64
 27  Social class C                                    9822 non-null   int64
 28  Social class D                                    9822 non-null   int64
 29  Rented house                                      9822 non-null   int64
 30  Home owners                                       9822 non-null   int64
 31  1 car                                             9822 non-null   int64
 32  2 cars                                            9822 non-null   int64
 33  No car                                            9822 non-null   int64
 34  National Health Service                           9822 non-null   int64
 35  Private health insurance                          9822 non-null   int64
 36  Income <30.000                                    9822 non-null   int64
 37  Income 30-45.000                                  9822 non-null   int64
 38  Income 45-75.000                                  9822 non-null   int64
 39  Income 75-122.000                                 9822 non-null   int64
 40  Income >123.000                                   9822 non-null   int64
 41  Average income                                    9822 non-null   int64
 42  Purchasing power class                            9822 non-null   int64
 43  Contribution private third party insurance        9822 non-null   int64
 44  Contribution third party insurance (firms)        9822 non-null   int64
 45  Contribution third party insurane (agriculture)   9822 non-null   int64
 46  Contribution car policies                         9822 non-null   int64
 47  Contribution delivery van policies                9822 non-null   int64
 48  Contribution motorcycle/scooter policies          9822 non-null   int64
 49  Contribution lorry policies                       9822 non-null   int64
 50  Contribution trailer policies                     9822 non-null   int64
 51  Contribution tractor policies                     9822 non-null   int64
 52  Contribution agricultural machines policies       9822 non-null   int64
 53  Contribution moped policies                       9822 non-null   int64
 54  Contribution life insurances                      9822 non-null   int64
 55  Contribution private accident insurance policies  9822 non-null   int64
 56  Contribution family accidents insurance policies  9822 non-null   int64
 57  Contribution disability insurance policies        9822 non-null   int64
 58  Contribution fire policies                        9822 non-null   int64
 59  Contribution surfboard policies                   9822 non-null   int64
 60  Contribution boat policies                        9822 non-null   int64
 61  Contribution bicycle policies                     9822 non-null   int64
 62  Contribution property insurance policies          9822 non-null   int64
 63  Contribution social security insurance policies   9822 non-null   int64
 64  Number of private third party insurance           9822 non-null   int64
 65  Number of third party insurance (firms)           9822 non-null   int64
 66  Number of third party insurance (agriculture)     9822 non-null   int64
 67  Number of car policies                            9822 non-null   int64
 68  Number of delivery van policies                   9822 non-null   int64
 69  Number of motorcycle/scooter policies             9822 non-null   int64
 70  Number of lorry policies                          9822 non-null   int64
 71  Number of trailer policies                        9822 non-null   int64
 72  Number of tractor policies                        9822 non-null   int64
 73  Number of agricultural machines policies          9822 non-null   int64
 74  Number of moped policies                          9822 non-null   int64
 75  Number of life insurances                         9822 non-null   int64
 76  Number of private accident insurance policies     9822 non-null   int64
 77  Number of family accidents insurance policies     9822 non-null   int64
 78  Number of disability insurance policies           9822 non-null   int64
 79  Number of fire policies                           9822 non-null   int64
 80  Number of surfboard policies                      9822 non-null   int64
 81  Number of boat policies                           9822 non-null   int64
 82  Number of bicycle policies                        9822 non-null   int64
 83  Number of property insurance policies             9822 non-null   int64
 84  Number of social security insurance policies      9822 non-null   int64
 85  Number of mobile home policies                    9822 non-null   int64
 86  Phase                                             9822 non-null   object
 87  Interested in buying a mobile home policy         9822 non-null   object
dtypes: int64(86), object(2)
memory usage: 6.6+ MB

In [6]:
pivotTablesList = {}

for nombreColumna in fullDatasetFile.columns:
    if nombreColumna != nombreColumnaSalida and nombreColumna != nombreColumnaDuplicadaSalida and nombreColumna != nombreColumnaFase:
        pivotTablesList[nombreColumna] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, nombreColumna, nombreColumnaDuplicadaSalida, nombreColumnaFase)
        print("pivotTablesList[\"" + nombreColumna + "\"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, \"" + nombreColumna + "\", nombreColumnaDuplicadaSalida, nombreColumnaFase)")
        print("display(pivotTablesList[\"" + nombreColumna + "\"])\n")

#pivotTablesList[] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, col, nombreColumnaDuplicadaSalida, nombreColumnaFase)

#display(pivotTable1)

pivotTablesList["Customer Subtype"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Customer Subtype", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Customer Subtype"])

pivotTablesList["Number of houses"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of houses", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of houses"])

pivotTablesList["Avg size household"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Avg size household", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Avg size household"])

pivotTablesList["Avg age"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Avg age", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Avg age"])

pivotTablesList["Customer main type"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Customer main type", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Customer main type"])

pivotTablesList["Roman catholic"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Roman catholic", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Roman catholic"])

pivotTablesList["Protestant"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Protestant", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Protestant"])

pivotTablesList["Other religion"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Other religion", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Other religion"])

pivotTablesList["No religion"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "No religion", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["No religion"])

pivotTablesList["Married"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Married", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Married"])

pivotTablesList["Living together"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Living together", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Living together"])

pivotTablesList["Other relation"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Other relation", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Other relation"])

pivotTablesList["Singles"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Singles", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Singles"])

pivotTablesList["Household without children"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Household without children", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Household without children"])

pivotTablesList["Household with children"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Household with children", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Household with children"])

pivotTablesList["High level education"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "High level education", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["High level education"])

pivotTablesList["Medium level education"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Medium level education", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Medium level education"])

pivotTablesList["Lower level education"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Lower level education", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Lower level education"])

pivotTablesList["High status"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "High status", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["High status"])

pivotTablesList["Entrepreneur"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Entrepreneur", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Entrepreneur"])

pivotTablesList["Farmer"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Farmer", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Farmer"])

pivotTablesList["Middle management"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Middle management", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Middle management"])

pivotTablesList["Skilled labourers"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Skilled labourers", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Skilled labourers"])

pivotTablesList["Unskilled labourers"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Unskilled labourers", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Unskilled labourers"])

pivotTablesList["Social class A"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Social class A", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class A"])

pivotTablesList["Social class B1"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Social class B1", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class B1"])

pivotTablesList["Social class B2"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Social class B2", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class B2"])

pivotTablesList["Social class C"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Social class C", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class C"])

pivotTablesList["Social class D"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Social class D", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Social class D"])

pivotTablesList["Rented house"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Rented house", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Rented house"])

pivotTablesList["Home owners"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Home owners", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Home owners"])

pivotTablesList["1 car"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "1 car", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["1 car"])

pivotTablesList["2 cars"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "2 cars", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["2 cars"])

pivotTablesList["No car"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "No car", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["No car"])

pivotTablesList["National Health Service"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "National Health Service", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["National Health Service"])

pivotTablesList["Private health insurance"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Private health insurance", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Private health insurance"])

pivotTablesList["Income <30.000"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Income <30.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income <30.000"])

pivotTablesList["Income 30-45.000"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Income 30-45.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income 30-45.000"])

pivotTablesList["Income 45-75.000"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Income 45-75.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income 45-75.000"])

pivotTablesList["Income 75-122.000"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Income 75-122.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income 75-122.000"])

pivotTablesList["Income >123.000"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Income >123.000", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Income >123.000"])

pivotTablesList["Average income"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Average income", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Average income"])

pivotTablesList["Purchasing power class"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Purchasing power class", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Purchasing power class"])

pivotTablesList["Contribution private third party insurance"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution private third party insurance", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution private third party insurance"])

pivotTablesList["Contribution third party insurance (firms)"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution third party insurance (firms)", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution third party insurance (firms)"])

pivotTablesList["Contribution third party insurane (agriculture)"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution third party insurane (agriculture)", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution third party insurane (agriculture)"])

pivotTablesList["Contribution car policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution car policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution car policies"])

pivotTablesList["Contribution delivery van policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution delivery van policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution delivery van policies"])

pivotTablesList["Contribution motorcycle/scooter policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution motorcycle/scooter policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution motorcycle/scooter policies"])

pivotTablesList["Contribution lorry policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution lorry policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution lorry policies"])

pivotTablesList["Contribution trailer policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution trailer policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution trailer policies"])

pivotTablesList["Contribution tractor policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution tractor policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution tractor policies"])

pivotTablesList["Contribution agricultural machines policies "] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution agricultural machines policies ", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution agricultural machines policies "])

pivotTablesList["Contribution moped policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution moped policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution moped policies"])

pivotTablesList["Contribution life insurances"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution life insurances", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution life insurances"])

pivotTablesList["Contribution private accident insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution private accident insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution private accident insurance policies"])

pivotTablesList["Contribution family accidents insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution family accidents insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution family accidents insurance policies"])

pivotTablesList["Contribution disability insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution disability insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution disability insurance policies"])

pivotTablesList["Contribution fire policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution fire policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution fire policies"])

pivotTablesList["Contribution surfboard policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution surfboard policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution surfboard policies"])

pivotTablesList["Contribution boat policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution boat policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution boat policies"])

pivotTablesList["Contribution bicycle policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution bicycle policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution bicycle policies"])

pivotTablesList["Contribution property insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution property insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution property insurance policies"])

pivotTablesList["Contribution social security insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Contribution social security insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Contribution social security insurance policies"])

pivotTablesList["Number of private third party insurance"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of private third party insurance", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of private third party insurance"])

pivotTablesList["Number of third party insurance (firms)"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of third party insurance (firms)", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of third party insurance (firms)"])

pivotTablesList["Number of third party insurance (agriculture)"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of third party insurance (agriculture)", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of third party insurance (agriculture)"])

pivotTablesList["Number of car policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of car policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of car policies"])

pivotTablesList["Number of delivery van policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of delivery van policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of delivery van policies"])

pivotTablesList["Number of motorcycle/scooter policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of motorcycle/scooter policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of motorcycle/scooter policies"])

pivotTablesList["Number of lorry policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of lorry policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of lorry policies"])

pivotTablesList["Number of trailer policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of trailer policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of trailer policies"])

pivotTablesList["Number of tractor policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of tractor policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of tractor policies"])

pivotTablesList["Number of agricultural machines policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of agricultural machines policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of agricultural machines policies"])

pivotTablesList["Number of moped policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of moped policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of moped policies"])

pivotTablesList["Number of life insurances"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of life insurances", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of life insurances"])

pivotTablesList["Number of private accident insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of private accident insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of private accident insurance policies"])

pivotTablesList["Number of family accidents insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of family accidents insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of family accidents insurance policies"])

pivotTablesList["Number of disability insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of disability insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of disability insurance policies"])

pivotTablesList["Number of fire policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of fire policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of fire policies"])

pivotTablesList["Number of surfboard policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of surfboard policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of surfboard policies"])

pivotTablesList["Number of boat policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of boat policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of boat policies"])

pivotTablesList["Number of bicycle policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of bicycle policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of bicycle policies"])

pivotTablesList["Number of property insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of property insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of property insurance policies"])

pivotTablesList["Number of social security insurance policies"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of social security insurance policies", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of social security insurance policies"])

In [7]:
pivotTablesList["Customer Subtype"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Customer Subtype", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Customer Subtype"])

Phase                                     Phase 1 [Training]       \
Interested in buying a mobile home policy                 No  Yes
1                                                        111   13
2                                                         76    6
3                                                        224   25
4                                                         50    2
5                                                         43    2
6                                                        107   12
7                                                         41    3
8                                                        288   51
9                                                        266   12
10                                                       156    9
11                                                       144    9
12                                                        95   16
13                                                       166   13
15                                                         5    0
16                                                        16    0
17                                                         9    0
18                                                        19    0
19                                                         3    0
20                                                        23    2
21                                                        15    0
22                                                        94    4
23                                                       247    4
24                                                       175    5
25                                                        80    2
26                                                        47    1
27                                                        49    1
28                                                        25    0
29                                                        84    2
30                                                       114    4
31                                                       199    6
32                                                       133    8
33                                                       764   46
34                                                       173    9
35                                                       206    8
36                                                       209   16
37                                                       122   10
38                                                       316   23
39                                                       309   19
40                                                        71    0
41                                                       200    5
General Total                                           5474  348

Phase                                     Phase 2 [Test]                  \
Interested in buying a mobile home policy             No  Yes    No  Yes
1                                                     81   13   192   26
2                                                     61    5   137   11
3                                                    176    8   400   33
4                                                     37    1    87    3
5                                                     25    0    68    2
6                                                     76   14   183   26
7                                                     26    2    67    5
8                                                    186   21   474   72
9                                                    177    5   443   17
10                                                    92   14   248   23
11                                                   126    7   270   16
12                                                    71   12   166   28
13                                                   111   12   277   25
15                                                     2    0     7    0
16                                                     9    0    25    0
17                                                     4    0    13    0
18                                                     8    0    27    0
19                                                     4    0     7    0
20                                                    17    0    40    2
21                                                    14    0    29    0
22                                                    69    2   163    6
23                                                   125    0   372    4
24                                                   143    1   318    6
25                                                    43    4   123    6
26                                                    30    1    77    2
27                                                    27    0    76    1
28                                                    16    0    41    0
29                                                    48    5   132    7
30                                                    71    1   185    5
31                                                   108    5   307   11
32                                                    89    4   222   12
33                                                   557   34  1321   80
34                                                   140    3   313   12
35                                                   143    5   349   13
36                                                   137   11   346   27
37                                                    92    9   214   19
38                                                   215   15   531   38
39                                                   196   18   505   37
40                                                    66    0   137    0
41                                                   144    6   344   11
General Total                                       3762  238  9236  586

Phase
Interested in buying a mobile home policy General Total
1                                                   218
2                                                   148
3                                                   433
4                                                    90
5                                                    70
6                                                   209
7                                                    72
8                                                   546
9                                                   460
10                                                  271
11                                                  286
12                                                  194
13                                                  302
15                                                    7
16                                                   25
17                                                   13
18                                                   27
19                                                    7
20                                                   42
21                                                   29
22                                                  169
23                                                  376
24                                                  324
25                                                  129
26                                                   79
27                                                   77
28                                                   41
29                                                  139
30                                                  190
31                                                  318
32                                                  234
33                                                 1401
34                                                  325
35                                                  362
36                                                  373
37                                                  233
38                                                  569
39                                                  542
40                                                  137
41                                                  355
General Total                                      9822

In [8]:
pivotTablesList["Number of houses"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Number of houses", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Number of houses"])

Phase                                     Phase 1 [Training]       \
Interested in buying a mobile home policy                 No  Yes
1                                                       4952  315
2                                                        472   33
3                                                         39    0
4                                                          2    0
5                                                          1    0
6                                                          1    0
7                                                          5    0
8                                                          1    0
10                                                         1    0
General Total                                           5474  348

Phase                                     Phase 2 [Test]                  \
Interested in buying a mobile home policy             No  Yes    No  Yes
1                                                   3437  211  8389  526
2                                                    290   26   762   59
3                                                     24    1    63    1
4                                                      2    0     4    0
5                                                      2    0     3    0
6                                                      2    0     3    0
7                                                      3    0     8    0
8                                                      1    0     2    0
10                                                     1    0     2    0
General Total                                       3762  238  9236  586

Phase
Interested in buying a mobile home policy General Total
1                                                  8915
2                                                   821
3                                                    64
4                                                     4
5                                                     3
6                                                     3
7                                                     8
8                                                     2
10                                                    2
General Total                                      9822

In [9]:
pivotTablesList["Avg size household"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Avg size household", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Avg size household"])

Phase                                     Phase 1 [Training]       \
Interested in buying a mobile home policy                 No  Yes
1                                                        276    8
2                                                       2016  115
3                                                       2475  171
4                                                        643   50
5                                                         64    4
6                                                          0    0
General Total                                           5474  348

Phase                                     Phase 2 [Test]                  \
Interested in buying a mobile home policy             No  Yes    No  Yes
1                                                    165    3   441   11
2                                                   1405   80  3421  195
3                                                   1763  104  4238  275
4                                                    391   48  1034   98
5                                                     35    3    99    7
6                                                      3    0     3    0
General Total                                       3762  238  9236  586

Phase
Interested in buying a mobile home policy General Total
1                                                   452
2                                                  3616
3                                                  4513
4                                                  1132
5                                                   106
6                                                     3
General Total                                      9822

In [10]:
pivotTablesList["Avg age"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Avg age", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Avg age"])

Phase                                     Phase 1 [Training]       \
Interested in buying a mobile home policy                 No  Yes
1                                                         73    1
2                                                       1365   87
3                                                       2817  183
4                                                       1009   64
5                                                        181   12
6                                                         29    1
General Total                                           5474  348

Phase                                     Phase 2 [Test]                  \
Interested in buying a mobile home policy             No  Yes    No  Yes
1                                                     30    0   103    1
2                                                    888   69  2253  156
3                                                   2034  120  4851  303
4                                                    663   41  1672  105
5                                                    128    8   309   20
6                                                     19    0    48    1
General Total                                       3762  238  9236  586

Phase
Interested in buying a mobile home policy General Total
1                                                   104
2                                                  2409
3                                                  5154
4                                                  1777
5                                                   329
6                                                    49
General Total                                      9822

In [11]:
pivotTablesList["Customer main type"] = buildCountingPivotTable(fullDatasetFile, nombreColumnaSalida, "Customer main type", nombreColumnaDuplicadaSalida, nombreColumnaFase)
display(pivotTablesList["Customer main type"])

Phase                                     Phase 1 [Training]       \
Interested in buying a mobile home policy                 No  Yes
1                                                        504   48
2                                                        436   66
3                                                        827   59
4                                                         52    0
5                                                        554   15
6                                                        201    4
7                                                        530   20
8                                                       1474   89
9                                                        625   42
10                                                       271    5
General Total                                           5474  348

Phase                                     Phase 2 [Test]                  \
Interested in buying a mobile home policy             No  Yes    No  Yes
1                                                    380   27   884   75
2                                                    288   37   724  103
3                                                    577   50  1404  109
4                                                     27    0    79    0
5                                                    368    3   922   18
6                                                    116    5   317    9
7                                                    316   15   846   35
8                                                   1069   62  2543  151
9                                                    411   33  1036   75
10                                                   210    6   481   11
General Total                                       3762  238  9236  586

Phase
Interested in buying a mobile home policy General Total
1                                                   959
2                                                   827
3                                                  1513
4                                                    79
5                                                   940
6                                                   326
7                                                   881
8                                                  2694
9                                                  1111
10                                                  492
General Total                                      9822

In [12]:
pivotTableWith2DetailLevels = pd.pivot_table(fullDatasetFile, values = nombreColumnaSalida, index = "Customer Subtype", columns = [nombreColumnaFase, nombreColumnaDuplicadaSalida], aggfunc = 'count')
pivotTableWith2DetailLevels.fillna(0.0, inplace = True)
pivotTableWith1DetailLevel = pd.pivot_table(fullDatasetFile, values = nombreColumnaSalida, index = "Customer Subtype", columns = nombreColumnaDuplicadaSalida, aggfunc = 'count')
pivotTableWith1DetailLevel.fillna(0.0, inplace = True)
pivotTableWith1DetailLevel["General Total"] = pivotTableWith1DetailLevel[pivotTableWith1DetailLevel.columns].sum(axis = 1)
pivotTableWith1DetailLevel.rename(columns = {tableColumn: ("", tableColumn) for tableColumn in pivotTableWith1DetailLevel.columns}, inplace = True)
fullPivotTable = pd.concat([pivotTableWith2DetailLevels, pivotTableWith1DetailLevel], axis = 1)

suma = fullPivotTable.sum()
suma.name = "General Total"
pivotTableSummarizedByRows = pd.DataFrame(suma.transpose(), columns = fullPivotTable.columns, index = [suma.name])
pivotTableSummarizedByRows.loc[suma.name] = suma.tolist()
fullPivotTable = pd.concat([fullPivotTable, pivotTableSummarizedByRows])

for column in fullPivotTable.columns:
    fullPivotTable[column] = [int(value) for value in fullPivotTable[column].tolist()]

#x1.info()
display(fullPivotTable)

Phase                                     Phase 1 [Training]       \
Interested in buying a mobile home policy                 No  Yes
1                                                        111   13
2                                                         76    6
3                                                        224   25
4                                                         50    2
5                                                         43    2
6                                                        107   12
7                                                         41    3
8                                                        288   51
9                                                        266   12
10                                                       156    9
11                                                       144    9
12                                                        95   16
13                                                       166   13
15                                                         5    0
16                                                        16    0
17                                                         9    0
18                                                        19    0
19                                                         3    0
20                                                        23    2
21                                                        15    0
22                                                        94    4
23                                                       247    4
24                                                       175    5
25                                                        80    2
26                                                        47    1
27                                                        49    1
28                                                        25    0
29                                                        84    2
30                                                       114    4
31                                                       199    6
32                                                       133    8
33                                                       764   46
34                                                       173    9
35                                                       206    8
36                                                       209   16
37                                                       122   10
38                                                       316   23
39                                                       309   19
40                                                        71    0
41                                                       200    5
General Total                                           5474  348

Phase                                     Phase 2 [Test]                  \
Interested in buying a mobile home policy             No  Yes    No  Yes
1                                                     81   13   192   26
2                                                     61    5   137   11
3                                                    176    8   400   33
4                                                     37    1    87    3
5                                                     25    0    68    2
6                                                     76   14   183   26
7                                                     26    2    67    5
8                                                    186   21   474   72
9                                                    177    5   443   17
10                                                    92   14   248   23
11                                                   126    7   270   16
12                                                    71   12   166   28
13                                                   111   12   277   25
15                                                     2    0     7    0
16                                                     9    0    25    0
17                                                     4    0    13    0
18                                                     8    0    27    0
19                                                     4    0     7    0
20                                                    17    0    40    2
21                                                    14    0    29    0
22                                                    69    2   163    6
23                                                   125    0   372    4
24                                                   143    1   318    6
25                                                    43    4   123    6
26                                                    30    1    77    2
27                                                    27    0    76    1
28                                                    16    0    41    0
29                                                    48    5   132    7
30                                                    71    1   185    5
31                                                   108    5   307   11
32                                                    89    4   222   12
33                                                   557   34  1321   80
34                                                   140    3   313   12
35                                                   143    5   349   13
36                                                   137   11   346   27
37                                                    92    9   214   19
38                                                   215   15   531   38
39                                                   196   18   505   37
40                                                    66    0   137    0
41                                                   144    6   344   11
General Total                                       3762  238  9236  586

Phase
Interested in buying a mobile home policy General Total
1                                                   218
2                                                   148
3                                                   433
4                                                    90
5                                                    70
6                                                   209
7                                                    72
8                                                   546
9                                                   460
10                                                  271
11                                                  286
12                                                  194
13                                                  302
15                                                    7
16                                                   25
17                                                   13
18                                                   27
19                                                    7
20                                                   42
21                                                   29
22                                                  169
23                                                  376
24                                                  324
25                                                  129
26                                                   79
27                                                   77
28                                                   41
29                                                  139
30                                                  190
31                                                  318
32                                                  234
33                                                 1401
34                                                  325
35                                                  362
36                                                  373
37                                                  233
38                                                  569
39                                                  542
40                                                  137
41                                                  355
General Total                                      9822